.about {
  display: flex;
  flex-direction: column;
  font-family: "pt sans", monospace;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: rgb(22, 29, 117);
  background: linear-gradient(
    90deg,
    rgba(22, 29, 117, 1) 35%,
    rgba(252, 70, 70, 1) 100%
  );
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  color: white;
}
