.hero-section {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
  background: rgb(22, 29, 117);
  background: linear-gradient(
    90deg,
    rgba(22, 29, 117, 1) 35%,
    rgba(252, 70, 70, 1) 100%
  );
}

.App-logo {
  height: 250px;
  width: 500px;
}
