.App {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: white;
  background: rgb(22, 29, 117);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  /* display: flex;
  margin-left: 40%; */
}
